<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="~/Content/Images/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/favicon.ico" />
    <title>@ViewBag.Title - Qlik Portal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet">
</head>
<body>
    @Html.Partial("_NavBar")
    @if (ViewBag.PageType != "HomePage" && ViewBag.PageType != "InternalAction")
    {
        { Html.RenderAction("SecondaryNavbarResponse", "Home"); }
        <div class="container-fluid body-content nopaddinglr">
            @RenderBody()
        </div>
    }
    else if (ViewBag.PageType != "HomePage" && ViewBag.PageType == "InternalAction")
    {
        { Html.RenderAction("SecondaryNavbarRequest", "Home"); }
        <div class="container-fluid body-content nopaddinglr">
            @RenderBody()
        </div>
    }
    else
    {
        <div class="container-fluid body-content nopaddinglr">
            @RenderBody()
        </div>
    }
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Qlik Portal</p>
        </footer>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/MvcGrid/mvc-grid.js"></script>
    <script>
            $('.mvc-grid').mvcgrid();
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>
