<nav id="primaryNav" class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 0px;" >
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar top-bar"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
            </button>
            <a class="navbar-brand" href='@Url.Action("Index", "Home")' title="Intesa Sanpaolo">
                <img class="logo hidden-xs" src='@Url.Content("~/Content/Images/logo-intesasanpaolo.png")' alt="Intesa Sanpaolo" title="Intesa Sanpaolo">
                <img class="icon visible-xs text-center" src='@Url.Content("~/Content/Images/logo-icon.png")' alt="IS">
            </a>
        </div>
        <div id="main-menu" class="collapse navbar-collapse" aria-expanded="false">
            <ul class="nav navbar-nav">
                <li id="newreport" style="display:none">
                    <a href="#"><i class="fa fa-plus-square-o"></i> Nuovo Report</a>
                </li>
                <li id="share" style="display:none">
                    <a href="#"><i class="fa fa-share-square-o"></i> Distribuisci</a>
                </li>
                <li id="exit" style="display:none">
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-power-off"></i> Esci</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @*<li>
                    <a class="nopaddingtopbot" href="#"><img class="logo hidden-xs" src='@Url.Content("~/Content/Images/docs.png")' height="30" width="40" alt="Linee Guida" title="Linee Guida"></a>
                </li>
                <li>
                    <a class="nopaddingtopbot" href="#"><img class="logo hidden-xs" src='@Url.Content("~/Content/Images/help.png")' height="30" width="40" alt="Chiedi Aiuto" title="Chiedi Aiuto"></a>
                </li>*@
                <li class="navbar-right-button">
                    <a class="nopaddingtopbot" href="https://help.qlik.com/" target="_blank">
                        <i class="fa fa-question navbar-right-icon" aria-hidden="true" title="Qlik Help"></i>
                    </a>
                </li>
                @if (!string.IsNullOrWhiteSpace(ViewBag.UserIdentity))
                {
                    <li class="user-profile">
                        <a class="nopaddingtopbot user-adjust" href="#">
                            <div class="user-profile__info">
                                <span id="user-profile-name" class="user-profile__info__user-name vcenter">@ViewBag.UserIdentity</span>
                            </div>
                            <img class="user-icon hidden-xs" src='@Url.Content("~/Content/Images/Avatar.jpg")' alt="@ViewBag.UserIdentity" title="@ViewBag.UserIdentity" data-name="@ViewBag.UserIdentity">
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>

</nav>