@model QPortal.Models.CreateReport

@{
    ViewBag.Title = "CreateReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>Crea Report</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2 h4" })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2 h4" })
                @Html.TextAreaFor(model => model.Description, 2, 20, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label class="control-label col-md-10 h4">Scegli un template dalla Galleria</label>

                <div class="radio-inline form-control noheight">
                    <label class="mr-25">
                        Report vuoto<br />
                        <img src="~/Content/Images/appNullThumb.png" alt="..." class="img-thumbnail img-check">
                        <input type="radio" name="SelectedTemplate" class="" checked value="void">
                        <i class="fa fa-circle-thin fa-2x "></i>
                        <i class="fa fa-dot-circle-o fa-2x"></i> 
                    </label>
                    
                    @if (Model != null && Model.TemplateItems != null && Model.TemplateItems.Count > 0)
                    {
                        foreach (var template in Model.TemplateItems)
                        {                   
                            <label class="mr-25">
                                @template.TemplateDescription<br />
                                <img src="~/Content/Images/appNullThumb.png" alt="..." class="img-thumbnail img-check">
                                <input type="radio" name="SelectedTemplate" class="" value="@template.TemplateID">
                                <i class="fa fa-circle-thin fa-2x "></i>
                                <i class="fa fa-dot-circle-o fa-2x"></i>
                            </label>
                        }
                    }

                    <div class="row">
                        <div class="float-right">
                            <div class="btn-group" role="group" aria-label="crea report">
                                <a href="@Url.Action("Hub", "Home", new { AmbitoList = ViewBag.AmbitoList })" type="button" class="btn btn-primary equalsize">Annulla</a>
                                <button type="submit" class="btn btn-primary equalsize">Crea</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            @Html.Hidden("AmbitoList", (string)ViewBag.AmbitoList);
        }

    </div>
</div>



@*<div>
    @Html.ActionLink("Back", "Index", null, new { @class = "fa fa-chevron-circle-left" })
</div>*@
