@using NonFactors.Mvc.Grid;

@model QPortal.ViewModels.ReportViewModel

@{
    ViewBag.Title = "Report Per Distribuzione";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>Report per Distribuzione</h2>

        @using (Html.BeginForm("Share", "Reports", FormMethod.Post, new { id = "reportForm" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            if (string.IsNullOrEmpty(ViewBag.Error))
            {
                <div class="form-group">
                    <h4 class="lead">Distribuisci nello Stream</h4>
                    @Html.DropDownListFor(m => m.Streams, new SelectList(Model.Streams, "Id", "Name"), null, new { @class = "streamdropdown form-control" })
                </div>
                <div id="grid">
                    @Html.AjaxGrid(Url.Action("GetReportsGrid", new { @idStream = Model.Streams[0].Id, @desStream = Model.Streams[0].Name }))
                </div>                
                @Html.Hidden("streamid", Model.Streams[0].Id)
                @Html.Hidden("streamdes", Model.Streams[0].Name)
                @Html.Hidden("FarmList", (string)ViewBag.FarmList)
            }
            else
            {
                <div class="form-group">
                    <h4 class="lead">Errore:</h4>
                    @ViewBag.Error
                </div>
            }

            <div class="row">
                <div class="float-right">
                    <div class="btn-group" role="group" aria-label="crea report">
                        <a href="@Url.Action("Hub", "Home", new { FarmList = ViewBag.FarmList })" type="button" class="btn btn-primary equalsize">Annulla</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
