
@{
    ViewBag.Title = "ToShare2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ToShare2</h2>

@ViewBag.UserID<br />
@ViewBag.UserDirectory<br />
@ViewBag.newAppId<br />
@ViewBag.AppName<br />
@ViewBag.StreamID<br />
@ViewBag.distrNode<br />
@ViewBag.Link<br />
@ViewBag.OverwriteRequired<br />
@ViewBag.publishResult<br />
@ViewBag.errorMessage<br />

