@model QPortal.ViewModels.FarmsViewModel


@{
    ViewBag.Title = "Home Page";
}

@if (ViewData.Model != null)
{
    <div id="ifr" class="collapse embed-responsive">
        <iframe id="frame" src=""></iframe>
    </div>
    <div class="collapse in" id="farms">

        <div class="message">Business Intelligence Center</div>

        <div class="container vcenter">
            <div class="row">

                <div class="col-md-4">
                    <div class="thumbnail block-card h-250">
                        <div class="container-fluid">
                            <div class="card">
                                <div class="card-block">
                                    <h3 class="card-title">Area Reportistica</h3>
                                    <p class="card-text">Crea e Visualizza la reportistica</p>
                                    <h3 class="card-title">Ambito</h3>

                                    <div class="footer-card">
                                        @using (Html.BeginForm("Hub", "Home"))
                                        {
                                            <div class="form-group">
                                                @Html.DropDownListFor(m => m.FarmList, new SelectList(Model.FarmList.SelectMany(m => m.Nodes), "Id", "Name"), null, new { @class = "form-control mb-5"})
                                            </div>

                                            <button href="#" type="submit" class="btn btn-primary center-block w-100">ACCEDI</button>
                                        } 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="thumbnail block-card h-250">
                        <div class="container-fluid">
                            <div class="card">
                                <div class="card-block ">
                                    <h3 class="card-title">Linee Guida</h3>
                                    <p class="card-text">Visualizza le linee guida</p>

                                    <div class="footer-card">
                                        @Html.ActionLink("ACCEDI", "Index", "LineeGuida", null, new { @class = "btn btn-primary center-block w-100" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="thumbnail block-card h-250">
                        <div class="container-fluid">
                            <div class="card">
                                <div class="card-block">
                                    <h3 class="card-title">Manuale Utente</h3>
                                    <p class="card-text">Visualizza il manuale utente</p>

                                    <div class="footer-card">
                                        <button href="#" formtarget="_blank" class="btn btn-primary center-block w-100" onclick="" data-frame-id="1" data-node-id="0">ACCEDI</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="footer navbar-fixed-bottom line">
            <div class="nav navbar-nav navbar-right qliklogo-right">
                <div>
                    <a href="https://www.qlik.com" target="_blank">
                        <span class="qliklogotext">Powered by</span>
                    <img class="logo qliklogo" src='@Url.Content("~/Content/Images/Qlik.png")' alt="Qlik logo" title="Qlik logo">
                    </a>
                </div>
            </div>
        </div>

    </div>

}
else
{
    <div class="jumbotron">
        <h1>No roles assigned!</h1>
    </div>
}

    @section scripts{
        <script type="text/javascript">

        //$(document).ready(function () {

        function setIframeSize() {
            $("#ifr").collapse('show');
            $('#farms').collapse();

            var theIframe = document.querySelector("#frame"); //select the iframe element

            var w = window,
                d = document,
                e = d.documentElement,
                g = d.getElementsByTagName('body')[0],
                x = w.innerWidth || e.clientWidth || g.clientWidth,
                y = w.innerHeight || e.clientHeight || g.clientHeight;

            theIframe.style.height = y - $('#primaryNav').height() + "px"; //set the height
            theIframe.style.width = $(window).width() + "px"; //set the width
        }

        function openIframe() {
            setIframeSize();
            var myFrame = document.querySelector("#frame");
            myFrame.src = ""; //clear the frame
            myFrame.src = "@Url.Action("Hub", "Home")";
            //myFrame.src = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d91737.51273778046!2d12.566428499999994!3d44.06689465000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132cc3a48fa6592b%3A0xc1f284db17f1449d!2sRimini+RN!5e0!3m2!1sit!2sit!4v1427492339750";

            $("#newreport").css("display", "unset");
            $("#share").css("display", "unset");
            $("#exit").css("display", "unset");
        }

        var $iframes = $("iframe");

        // Resize the iframes when the window is resized
        $(window).resize(function () {
            $iframes.each(function () {
                // Get the parent container width
                var width = $(this).parent().width();
                var height = $(window).height() - $('#primaryNav').height();
                $(this).width(width).height(height);
            });
            // Resize iframes on page load.
        }).resize();


        //new method
        function openIframeV2(element) {
            var frameId = $(element).attr("data-frame-id");
            var nodeId = $(element).attr("data-node-id");

            $.ajax({
                url: "/api/Farms/" + frameId + "/" + nodeId,
                method: "GET",
                success: function (data) {
                    setIframeSize();
                    var myFrame = document.querySelector("#frame");
                    myFrame.src = ""; //clear the frame

                    //Get Farm attributes from xml configuration file and create the link di the action that call Hub
                    var link = myFrame.src = "@Url.Action("Hub", "Home")";
                    link += "?server=" + data.Server + "&vp=" + data.VirtualProxy;

                    myFrame.src = link;
                    //myFrame.src = data.Link;
                },
                error: function (data) {
                    toastr.error(data.status + " - " + data.statusText);
                }
            });
        }
       //}
        </script>
    }

