@model System.Web.HttpCookie
@{
    ViewBag.Title = "OpenFrame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OpenFrame</h2>

@Model.Domain

@Model.Expires

@Model.HasKeys

@Model.HttpOnly

@Model.Name

@Model.Path

@Model.Secure

@Model.Shareable

@Model.Value

@Model.Values.Keys.Count